@import '../BasicSet';

html{
    width: 100%;
    height: 100%;
}
body{
  display: block;
  width: 100%;
  height: 100%;
}
.App{
    width: 1000px;
    margin: 0 auto;
}
.nav{
    .logo{
        width: 125px;
        height: 38px;
    }

    li{
        display: inline-block;
        color: black;
        text-align: center;
        padding: 14px;
        text-decoration: none;
        font-size: 17px;
        border-radius: 5px;
        vertical-align: middle;
        cursor: pointer;

        &.hover:hover{
            background-color: #ddd;
            color: black;
        }
    }
}
